*{
	margin:0.3rem;
	padding:0;
	box-sizing: border-box; 
}
body{
	background:  #282828;
	
}
.flex-container {
  display: flex;
 
  flex-wrap: wrap;
}

.flex-container > .x {

  margin: auto;
  text-align: center;
  line-height: 40px;
  font-size: 16pt;
}


.x:nth-child(1) {
  background-color: cornsilk;
  box-shadow: 2px 2px 6px grey;
}
.x:nth-child(2) {
  background-color: lightgrey;
  box-shadow: 3px 1px 8px 2px;
}

.x:nth-child(2):hover {

  box-shadow: 8px 6px  9px 3px;
  border-radius: 1%;
}
#h1{
 word-wrap: break-word;
 line-height: 2rem;
 letter-spacing: 0.05rem;
 word-spacing: 0.10rem;
 font-size: 10pt;
}

.img
{
	object-fit: cover;
	border-radius: 100%
}

button{
	color: purple;
	width:20rem;
	height:3rem;
	font-size:1rem;
	font-weight: bold;
	border-radius: 10%;
	background:  aqua; 
}
button:hover{
	cursor:pointer;
}

.edu
{
	font-size: 16pt;
	background: beige;
	height:50pt;
    line-height: 50pt;
  text-align: center;
     border: 1px dashed purple;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 width: -webkit-fill-available;
}

td, th {
  border: 2pt solid #dddddd;
  text-align: left;
  padding: 3px;
  /*color: floralwhite;*/
  /*font-weight: bold;*/
  font-size: 15pt;
}

a{
color: mediumvioletred;
letter-spacing: 0.1rem;
text-decoration-color: wheat;
}

.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  /*font-size:2.5vw;*/
  font-family: "Bradley Hand", cursive;
  animation: 
    typing 10.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

ul{
  text-align: center;
  list-style-position: inside;
}
ul li{
  font-size: 14pt;
  list-style: inside;
  font-weight: bold: 
}

.img:hover{

  box-shadow: 2px 2px 20px 5px gold;
}


.projectbtn{
  
  border: 2px solid grey;
  background-color: cornsilk;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  padding: auto;
  max-width: 50%;
  /* border-top-right-radius: 56%;
    border-bottom-right-radius: 10%;
    background: lightgrey;
    border-bottom: double;
    border-top-width: thick;
    border-top-left-radius: 49%;*/
}
.inpro{
    background: cornsilk;
    max-width: 100%;
    height: auto;
}
ol li{
   font-size: 14pt;
   word-spacing: 2px;
   letter-spacing: 1px;
   line-height: 2rem;
}

ol{
  margin: 20px;
}

.card{
  width: 100%;
  border: 2px solid grey;
  background-color: cornsilk;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  padding: auto;
}

.card h1{
color: blue;
font-family: "Bradley Hand";
}

.card h2{
color:#585858 ;
letter-spacing: 0.1px;
}
.container{
display: flex;
flex-wrap: wrap;
}
.card:hover{
box-shadow: 6px 6px 3px 3px silver;
}

.card h2:hover{
letter-spacing: 0.66px;}

.inpro div h1{
letter-spacing:0.2rem;color:blue; text-align:center;
}
.inpro div h3{
letter-spacing:0.2rem;color:crimson;
}

li img{

width:100%;margin-top:5%;

}